{% extends "base1.html" %}

{% block title %}Q-View{% endblock %}

{% block content %}


{% include "navbarq-top.html" %}

  <div class="templatemo-content-widget orange-bg">
    <i class="fa fa-times"></i>
    <div class="media">
      <div class="media-left">
        <a href="#">
          <img class="media-object img-circle" src="images/sunset.jpg" alt="Sunset">
        </a>
      </div>
      <div class="media-body">
        <h2 class="media-heading text-uppercase">Authentication Error</h2>
        <p>Please verify the correct username and password</p>
        <p>Error: {{error}}</p>
      </div>
    </div>
  </div>


{% endblock %}
