{% extends "base1.html" %}

{% block title %}Visual Qumulo{% endblock %}

{% block content %}

{% include "navbarq-left.html" %}
{% include "navbarq-top.html" %}

      <!-- Main content -->

        <div class="templatemo-content-container">
          <div class="templatemo-content-widget white-bg">
            <h2 class="margin-bottom-10">Geo Charts</h2>
            <p class="margin-bottom-0">Credit goes to <a href="http://jqvmap.com" target="_parent">JQVMap</a>.</p>
          </div>
          <div class="templatemo-flex-row flex-content-row">
            <div class="col-1">
              <div class="panel panel-default margin-10">
                <div class="panel-heading"><h2>World</h2></div>
                <div class="panel-body">
                  <div id="vmap_world" class="vmap"></div>
                </div>
              </div>
            </div>
            <div class="col-1">
              <div class="panel panel-default margin-10">
                <div class="panel-heading"><h2>Africa</h2></div>
                <div class="panel-body">
                  <div id="vmap_africa" class="vmap"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="templatemo-flex-row flex-content-row">
            <div class="col-1">
              <div class="panel panel-default margin-10">
                <div class="panel-heading"><h2>Asia</h2></div>
                <div class="panel-body">
                  <div id="vmap_asia" class="vmap"></div>
                </div>
              </div>
            </div>
            <div class="col-1">
              <div class="panel panel-default margin-10">
                <div class="panel-heading"><h2>Australia</h2></div>
                <div class="panel-body">
                  <div id="vmap_australia" class="vmap"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="templatemo-flex-row flex-content-row">
            <div class="col-1">
              <div class="panel panel-default margin-10">
                <div class="panel-heading"><h2>Europe</h2></div>
                <div class="panel-body">
                  <div id="vmap_europe" class="vmap"></div>
                </div>
              </div>
            </div>
            <div class="col-1">
              <div class="panel panel-default margin-10">
                <div class="panel-heading"><h2>United States of America</h2></div>
                <div class="panel-body">
                  <div id="vmap_usa" class="vmap"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="templatemo-flex-row flex-content-row">
            <div class="col-1">
              <div class="panel panel-default margin-10">
                <div class="panel-heading"><h2>North America</h2></div>
                <div class="panel-body">
                  <div id="vmap_northamerica" class="vmap"></div>
                </div>
              </div>
            </div>
            <div class="col-1">
              <div class="panel panel-default margin-10">
                <div class="panel-heading"><h2>South America</h2></div>
                <div class="panel-body">
                  <div id="vmap_southamerica" class="vmap"></div>
                </div>
              </div>
            </div>
          </div>
          
        </div>
      </div>
    </div>



    "{{ url_for('static',filename='js/tooplate-scripts.js')}}"
    <script type="text/javascript" src="{{ url_for('static',filename='jqvmap/jquery.vmap.js')}}"></script>
    <script type="text/javascript" src="{{ url_for('static',filename='jqvmap/maps/jquery.vmap.world.js')}}"></script>
    <script type="text/javascript" src="{{ url_for('static',filename='jqvmap/data/jquery.vmap.sampledata.js')}}"></script>
    <script src="{{ url_for('static',filename='jqvmap/maps/continents/jquery.vmap.africa.js')}}" type="text/javascript"></script>
    <script src="{{ url_for('static',filename='jqvmap/maps/continents/jquery.vmap.asia.js')}}" type="text/javascript"></script>
    <script src="{{ url_for('static',filename='jqvmap/maps/continents/jquery.vmap.australia.js')}}" type="text/javascript"></script>
    <script src="{{ url_for('static',filename='jqvmap/maps/continents/jquery.vmap.europe.js')}}" type="text/javascript"></script>
    <script src="{{ url_for('static',filename='jqvmap/maps/continents/jquery.vmap.north-america.js')}}" type="text/javascript"></script>
    <script src="{{ url_for('static',filename='jqvmap/maps/continents/jquery.vmap.south-america.js')}}" type="text/javascript"></script>
    <script src="{{ url_for('static',filename='jqvmap/maps/jquery.vmap.usa.js')}}" type="text/javascript"></script>
    <script type="text/javascript">

      function drawMaps(){
        $('#vmap_world').vectorMap({
          map: 'world_en',
          backgroundColor: '#ffffff',
          color: '#333',
          hoverOpacity: 0.7,
          selectedColor: '#666666',
          enableZoom: true,
          showTooltip: true,
          values: sample_data,
          scaleColors: ['#C8EEFF', '#006491'],
          normalizeFunction: 'polynomial'
        });
        $('#vmap_africa').vectorMap({
          map: 'africa_en',
          backgroundColor: '#ffffff',
          color: '#333333',
          hoverOpacity: 0.7,
          selectedColor: '#666666',
          enableZoom: true,
          showTooltip: true,
          values: sample_data,
          scaleColors: ['#C8EEFF', '#006491'],
          normalizeFunction: 'polynomial'
        });
        $('#vmap_asia').vectorMap({
          map: 'asia_en',
          backgroundColor: '#ffffff',
          color: '#333333',
          hoverOpacity: 0.7,
          selectedColor: '#666666',
          enableZoom: true,
          showTooltip: true,
          values: sample_data,
          scaleColors: ['#C8EEFF', '#006491'],
          normalizeFunction: 'polynomial'
        });
        $('#vmap_australia').vectorMap({
          map: 'australia_en',
          backgroundColor: '#ffffff',
          color: '#333333',
          hoverOpacity: 0.7,
          selectedColor: '#666666',
          enableZoom: true,
          showTooltip: true,
          values: sample_data,
          scaleColors: ['#C8EEFF', '#006491'],
          normalizeFunction: 'polynomial'
        });
        $('#vmap_europe').vectorMap({
          map: 'europe_en',
          backgroundColor: '#ffffff',
          color: '#333333',
          hoverOpacity: 0.7,
          selectedColor: '#666666',
          enableZoom: true,
          showTooltip: true,
          values: sample_data,
          scaleColors: ['#C8EEFF', '#006491'],
          normalizeFunction: 'polynomial'
        });
        $('#vmap_northamerica').vectorMap({
          map: 'north-america_en',
          backgroundColor: '#ffffff',
          color: '#333333',
          hoverOpacity: 0.7,
          selectedColor: '#666666',
          enableZoom: true,
          showTooltip: true,
          values: sample_data,
          scaleColors: ['#C8EEFF', '#006491'],
          normalizeFunction: 'polynomial'
        });
        $('#vmap_southamerica').vectorMap({
          map: 'south-america_en',
          backgroundColor: '#ffffff',
          color: '#333333',
          hoverOpacity: 0.7,
          selectedColor: '#666666',
          enableZoom: true,
          showTooltip: true,
          values: sample_data,
          scaleColors: ['#C8EEFF', '#006491'],
          normalizeFunction: 'polynomial'
        });
        $('#vmap_usa').vectorMap({
          map: 'usa_en',
          enableZoom: true,
          showTooltip: true,
          selectedRegion: 'MO'
        });
      } // end function drawMaps

      $(document).ready(function() {

        if($.browser.mozilla) {
          //refresh page on browser resize
          // http://www.sitepoint.com/jquery-refresh-page-browser-resize/
          $(window).bind('resize', function(e)
          {
            if (window.RT) clearTimeout(window.RT);
            window.RT = setTimeout(function()
            {
              this.location.reload(false); /* false to get page from cache */
            }, 200);
          });
        } else {
          $(window).resize(function(){
            drawMaps();
          });
        }

        drawMaps();

      });
    </script>
  {% endblock %}
