<!-- Top navbar -->
<div class="templatemo-content col-1 light-gray-bg">
  <div class="templatemo-top-nav-container">
    <div class="row">
      <nav class="templatemo-top-nav col-lg-12 col-md-12">
        <ul class="navbar-nav mx-auto h-100">
          <li><a href="{{ url_for('main_app.main_select') }}" class="active"><i class="fa fa-home fa-fw"></i>Home</a></li>
          <li><a href="">Help</a></li>
          <li><a href="{{ url_for('main_app.main') }}"><i class="fa fa-eject fa-fw"></i>Logout</a></li>
          <li class="nav-item">
              <a class="nav-link" href="http://www.wookieware.com">
                  <i class="far fa-question-circle"></i>
                  About
              </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
